:root{
	--wd-top-bar-h: 40px;
	--wd-top-bar-sm-h: 38px;
	--wd-top-bar-sticky-h: .00001px;
	--wd-top-bar-brd-w: .00001px;

	--wd-header-general-h: 100px;
	--wd-header-general-sm-h: 80px;
	--wd-header-general-sticky-h: .00001px;
	--wd-header-general-brd-w: 1px;

	--wd-header-bottom-h: 52px;
	--wd-header-bottom-sm-h: 52px;
	--wd-header-bottom-sticky-h: .00001px;
	--wd-header-bottom-brd-w: .00001px;

	--wd-header-clone-h: 60px;

	--wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
	--wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
	--wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
	--wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}

.whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10px;
}




:root:has(.whb-general-header.whb-border-boxed) {
	--wd-header-general-brd-w: .00001px;
}

@media (max-width: 1024px) {
:root:has(.whb-general-header.whb-hidden-mobile) {
	--wd-header-general-brd-w: .00001px;
}
}


.whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 16px;
}


.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 10px;
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu):after {
	height: 20px;
}

		
.whb-6ya7sx9kqq2yt1yb2903.info-box-wrapper div.wd-info-box {
	--ib-icon-sp: 6px;
}
.whb-6ya7sx9kqq2yt1yb2903 .info-box-content .info-box-inner {
	color: rgba(51, 51, 51, 1);
	font-size: 15px;
}
.whb-u0qhs63ewzjyxlk2ofet.info-box-wrapper div.wd-info-box {
	--ib-icon-sp: 6px;
}
.whb-u0qhs63ewzjyxlk2ofet .info-box-content .info-box-inner {
	color: rgba(51, 51, 51, 1);
	font-size: 15px;
}.whb-top-bar-inner {  }
.whb-9x1ytaxq7aphtb3npidp {
	--wd-form-brd-radius: 5px;
}
.whb-9x1ytaxq7aphtb3npidp form.searchform {
	--wd-form-height: 46px;
}
.whb-9x1ytaxq7aphtb3npidp.wd-search-form.wd-header-search-form .searchform {
	--wd-form-brd-color: rgba(138, 138, 138, 1);
}
.whb-general-header {
	border-color: rgba(232, 232, 232, 1);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-i0vlzul5vn080tttq6j0 {
	--wd-form-brd-radius: 5px;
}
.whb-i0vlzul5vn080tttq6j0 form.searchform {
	--wd-form-height: 42px;
}
.whb-i0vlzul5vn080tttq6j0.wd-search-form.wd-header-search-form-mobile .searchform {
	--wd-form-color: rgba(255, 255, 255, 1);
	--wd-form-placeholder-color: rgba(255, 255, 255, 1);
	--wd-form-brd-color: rgba(255, 255, 255, 1);
}
.whb-header-bottom {
	background-color: rgba(51, 180, 2, 1);border-bottom-width: 0px;border-bottom-style: solid;
}
